@using Microsoft.EntityFrameworkCore
@model ShopMaMonolitic.Data.Models.ProductionProductsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductionProductsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discontinued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discontinued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.categoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.categoryID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.supplierID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.supplierID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.modify_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.modify_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.modify_user)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.modify_user)
        </dd>


       
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
